.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(253, 254, 254, 0.833);
  color:black;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
}

.input {
  background-color: transparent;
  border: black;
  color: var(--text);
  outline: none;
}